Flask
gunicorn
pymilvus
nltk
requests
tqdm
webvtt-py
numpy<2
pypdf
python-docx
ffmpeg-python
faster-whisper
aiohttp
rapidfuzz
google-auth
google-auth-httplib2
google-auth-oauthlib
google-api-python-client
av
redis
prometheus_client
webrtcvad-wheels
PyYAML
opencv-python-headless
ultralytics
open_clip_torch
